# Environment variables
# Use the specific path from your project's root
Backend/.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/

# IDE and editor directories
.vscode/
.idea/